* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
 
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}



/* General styles */

body {
	background-color: #000;
}

.main {
	background-color: white;
  	margin-top: 110px;
 	padding-left: 100px;
  	min-width: 1200px;
  	height: 500px;
  	position: relative;
  	z-index: 1;
}

/* Header styles */


/* Content styles */
.ryu-still,
.ryu-ready, 
.ryu-throwing,
.ryu-cool {
	width: 659px;
	height: 494px;
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');

	}        

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
	
}

.ryu-cool{
	background-image: url('../images/ryu-cool.gif');
	
}

.hadouken,
.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	display: none;
  	width: 156px; 
  	height: 90px;
  	position: absolute;
  	z-index: 10;
  	top: 170px;
  	left: 600px;
  	background-image: url('../images/hadouken.gif');
  	float: left;
}

.ryu-container .ryu {
	position: absolute;
}

.text .how-to {
	float: right;
	margin-top: 5rem;
}

.how-to p {
	width: 40%;
	margin-bottom: 2rem;
	line-height: 3rem;
	font-family: 'Julee', serif;
	font-size: 30px;
}

.how-to p + p {
	margin-left: 3rem;
}
/* Footer styles */


/* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/